%h2 About
%h3 What is Sinatra?
%p Sinatra is a DSL for quickly creating web applications in Ruby with minimal effort
%p
  %a{:href => "http://www.sinatrarb.com/"} www.sinatrarb.com
%h3 What is Sinatra good for?
%ul
  %li API implementations
  %li Small web applications
  %li Web services
  %li Small websites
%p
  %a{:href => "http://www.sinatrarb.com/wild.html"} Sinatra in The Wild
