%h2 Leave a comment

%form{:action => "/comment", :method => "post"}
  %div
    %textarea{:name => "content", :cols => "30", :rows => "10"}
  %div
    %input{:type => "submit", :value => "Submit", :method => "post"}/

%ul
- @comments.each do |c|
  %li{:style => "margin:20px; list-style-type:none;"}
    %div=h c.content
    %div=h c.created_at

