!!!
%html
  %head
    %title Sinatra Lightning Talk
    %link{:rel => "stylesheet", :href => "style.css"}/
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Playfair+Display+SC"}/
  %body
    %h1 Sinatra Lightning Talk
    %nav
      %a{:href => "/"} Home
      %a{:href => "/about"} About
      %a{:href => "/song"} Random Song
      %a{:href => "/comment"} Comment
      %a{:href => "/resources"} Resources
    = yield
