%h2 Resources
%ul
  %li
    %a{:href => "http://net.tutsplus.com/sessions/singing-with-sinatra/"} Singing with Sinatra
  %li
    %a{:href => "http://ididitmyway.herokuapp.com/past/2010/3/30/superdo_a_sinatra_and_datamapper_to_do_list/"} Datamapper To Do List
  %li
    %a{:href => "http://sinatra-book.gittr.com/"} Sinatra The Book
