%h2 Strangers In The Night
%p Strangers in the night exchanging glances |
<br>Wond'ring in the night what were the chances |
<br>We'd be sharing love before the night was through |
<br> |
<br>Something in your eyes was so inviting |
<br>Something in you smile was so exciting |
<br>Something in my heart told me I must have you |
<br> |
<br>Strangers in the night |
<br>Two lonely people, we were strangers in the night |
<br>Up to the moment when we said our first hello little did we know |
<br>Love was just a glance away, a warm embracing dance away |
<br> |
<br>and |
<br> |
<br>Ever since that night we've been together |
<br>Lovers at first sight, in love forever |
<br>It turned out so right for strangers in the night |
<br> |
<br>[instrumental-first three lines of chorus] |
<br>Love was just a glance away, a warm embracing dance away |
<br> |
<br>Ever since that night we've been together |
<br>Lovers at first sight, in love forever |
<br>It turned out so right for strangers in the night |
%audio{:src => "strangers-in-the-night.mp3"}
